const config = {
  apiKey: 'AIzaSyCgHLTFTgcfjHjAywKwZQiPIv3dw-xncoE',
  authDomain: 'cross-vonega.firebaseapp.com',
  databaseURL: 'https://your-domain.firebaseio.com',
  storageBucket: 'cross-vonega.appspot.com',
  messagingSenderId: '875036792823',
};

export default config;
